<header class="header">
  <div class="header__creeping-line-wrapper">
    <div class="header__creeping-line-inner">
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
      <div class="header__creeping-line">
        <div class="header__creeping-line-item">
          <img class="header__creeping-line-item-img" src="images/emoji/usa-flag.png" alt="">
          <p class="header__creeping-line-item-text">We ship inside the US only</p>
        </div>
      </div>
    </div>
  </div>
  <div class="header__content-inner">
    <div class="header__content container">
      <div class='header__menu menu'>
        <div class="icon-menu__wrapper" id="menuBtn">
          <div class='menu__icon icon-menu'>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav class='menu__body' id="menu__body">
          <div class="menu__mask" id="menu__mask"></div>
          <div class="menu__inner" id="menu__inner">
            <ul class='menu__list' id="menu__list">
              <li class='menu__item'>
                <a class='menu__link' href='#about'>About</a>
              </li>
              <li class='menu__item'>
                <a class='menu__link' href='#steps'>How it works</a>
              </li>
              <li class='menu__item'>
                <a class='menu__link' href='#'>Blog</a>
              </li>
              <li class='menu__item'>
                <a class='menu__link' href='#'>Contacts</a>
              </li>
            </ul>
            <div class="menu__button-wrapper header__buttons-wrapper">
              <div class="menu__button header__button-account-wrapper btn-wrapper">
                <button class="header__button-account">
                  <img class="header__button-account-img" src="images/icons/account.svg" alt="">
                </button>
              </div>
            </div>
            <div class="menu__close" id="menu__close">
              <span></span>
              <span></span>
            </div>
          </div>
        </nav>
      </div>
      <div class="header__buttons-wrapper">
        <div class="header__button-get-wrapper btn-wrapper">
          <button class="header__button-get"><a href="#feedback">  Get a Kit<span>📦</span></a></button>
        </div>
        <div class="header__button-account-wrapper btn-wrapper">
          <button class="header__button-account">
            <img class="header__button-account-img" src="images/icons/account.svg" alt="">
          </button>
        </div>
      </div>
    </div>
  </div>
</header>